<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.servicenovigrad"
    android:installLocation="preferExternal" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceNovigrad"
        tools:ignore="AllowBackup" >
        <activity
            android:name=".SelectServiceForClient"
            android:exported="true" />
        <activity
            android:name=".SelectBranchForClient"
            android:exported="true" />
        <activity
            android:name=".ConnectToBranch"
            android:exported="false" />
        <activity
            android:name=".ModifiedServiceListAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SelectServiceForBranch"
            android:exported="true" />
        <activity
            android:name=".BranchAvailability"
            android:exported="true" />
        <activity
            android:name=".ViewRequests"
            android:exported="false" />
        <activity
            android:name=".BranchListAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DeleteBranch"
            android:exported="false" />
        <activity
            android:name=".ModifyBranch"
            android:exported="false" />
        <activity
            android:name=".AddBranch"
            android:exported="false" />
        <activity
            android:name=".ViewBranches"
            android:exported="false" />
        <activity
            android:name=".ServiceListAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UserListAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UserList"
            android:exported="true" />
        <activity
            android:name=".ModifyService"
            android:exported="true" />
        <activity
            android:name=".ServicePage"
            android:exported="true" />
        <activity
            android:name=".WelcomePageEmployee"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".WelcomePageClient"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".WelcomePageAdmin"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddService"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>